<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color:hotpink;
            color:ghostwhite;
        }
    </style>
</head>
<body>
    <h1>welcome to ashok page</h1>
    <a href="{% url 'app2:chitti' %}">go to chitti page</a><br>
    <a href="{% url 'app3:naresh' %}"> go to naresh page</a>
</body>
</html>l